﻿@{
    ViewBag.Title = "API Test";
}

<h2>API Test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="Animew"></ul>
Anime ID:
<input type="text" id="animeID" /> 
<br/>
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST2</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:56011/api/AnimeApi/";

        function htmlEncode(textValue) {
            return $("<div />").text(textValue).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr){
                alert("ALL: \n" + data);
            }, "html");
        }

        function doListNEW() {
            $("#Animew").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.ID) + " " +
                            htmlEncode(item.Name) + " " +
                            htmlEncode(item.Release) + " " +
                            htmlEncode(item.EpisodeCount) + " " +
                            htmlEncode(item.Type) + " " +
                            htmlEncode(item.Score) + " " +
                            htmlEncode(item.Translator_ID)
                        "</li>";
                        $("#Animew").append(html);
                    });
                });
        }

        function doAdd() {
            var newAnime = {
                "Name": "Teszt", "Release": Date.now(), "EpisodeCount": "69",
                "Type": "TV", "Score": "9.99", "Translator_ID": "2"
            };
            $.post(url + "add", newAnime, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.OperationResult);
                doListNEW();
            })
        }

        function doMod() {
            var newAnime = {
                "ID": $("#animeID").val(),
                "Name": "Teszt",
                "Release_Date": Date.now(),
                "Episodes": "15",
                "Type": "TV",
                "Score": "9.99",
                "Translator_ID": "2"
            };
            $.post(url + "mod", newAnime, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.OperationResult);
                doListNEW();
            })
        }

        function doDel() {
            $.get(url + "del/" + $("#animeID").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.OperationResult);
                doListNEW();
            })
        }

    </script>
    
    }