﻿@model IEnumerable<AnimeTranslatingDatabase.Web.Models.AnimeW>

@{ 
    ViewBag.Title = "AnimeList";
}

<h2>List of animes</h2>

@if (Model.Count() == 0)
{
    <p>No anime added yet</p>    
}
else
{
<table border="1" style="text-align:center">
    <tr>
        <th>@Html.DisplayNameFor(m => m.First().ID)</th>
        <th>@Html.DisplayNameFor(m => m.First().Name)</th>
        <th>@Html.DisplayNameFor(m => m.First().Release)</th>
        <th>@Html.DisplayNameFor(m => m.First().EpisodeCount)</th>
        <th>@Html.DisplayNameFor(m => m.First().Type)</th>
        <th>@Html.DisplayNameFor(m => m.First().Score)</th>
        <th>@Html.DisplayNameFor(m => m.First().Translator_ID)</th>
        <th>Datasheet</th>
        <th>Delete</th>
        <th>Edit</th>


    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(m => item.ID)</td>
    <td style="text-align:left">@Html.DisplayFor(m => item.Name)</td>
    <td>@Html.DisplayFor(m => item.Release).ToString().TrimEnd('0', ':')</td>
    <td>@Html.DisplayFor(m => item.EpisodeCount)</td>
    <td>@Html.DisplayFor(m => item.Type)</td>
    <td>@Html.DisplayFor(m => item.Score)</td>
    <td>@Html.DisplayFor(m => item.Translator_ID)</td>
    <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.ID })</td>
    <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.ID })</td>
    <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.ID })</td>
</tr>
    }
</table>
}