﻿@model AnimeTranslatingDatabase.Web.Models.AnimeW

@{
    ViewBag.Title = "AnimeDetails";
}

<h2> Datasheet of one anime </h2>

@Html.ActionLink("Back to the future", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ID)</td>
        <td>@Html.DisplayFor(m => m.ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Release)</td>
        <td>@Html.DisplayFor(m => m.Release)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.EpisodeCount)</td>
        <td>@Html.DisplayFor(m => m.EpisodeCount)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Type)</td>
        <td>@Html.DisplayFor(m => m.Type)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Score)</td>
        <td>@Html.DisplayFor(m => m.Score)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Translator_ID)</td>
        <td>@Html.DisplayFor(m => m.Translator_ID)</td>
    </tr>
</table>