﻿@model AnimeTranslatingDatabase.Web.Models.AnimeViewModel
@{
    ViewBag.Title = "AnimeIndex";
}

<h2>Anime Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("AnimeEdit", Model.EditedAnime)

@Html.Partial("AnimeList", Model.ListOfAnimes)
