﻿@model AnimeTranslatingDatabase.Web.Models.AnimeW

<h2>Edit one anime</h2>

@using (Html.BeginForm("Edit", "Anime"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID);
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    
    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Release)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Release)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EpisodeCount)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EpisodeCount)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Type)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Type)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Score)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Score)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Translator_ID)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Translator_ID)</div>

    <input type="submit" value="SEND" />
}